html, body {
    overflow-x: hidden;
    width: 100%;
}
html {
    -webkit-overflow-scrolling: touch;
    
    &.smooth {
        scroll-behavior: smooth;
    }
}
body {
    font-family: $font-main;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-bg-alt;

    &.mask {
        .body-mask {
            visibility: visible;
            pointer-events: all;
            font-size: 0;
            opacity: 1;
        }
    }

    .body-mask {
        @include transition(all, 0.2s);
        background-color: rgba(27, 33, 37, 0.8);
        pointer-events: none;
        visibility: hidden;
        position: fixed;
        z-index: 9999;
        height: 100vh;
        font-size: 0;
        width: 100%;
        opacity: 0;

        @media #{$md} {
            display: none !important;
        }
    }
}
main {
    background: $color-bg;
    color: $color-txt;
}

// selection
::selection {
    background: $color-primary;
    color: $color-bg;
}

// autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-bg;
    -webkit-box-shadow: 0 0 0px 1000px $color-primary inset;
    transition: background-color 5000s ease-in-out 0s;
}

// wordpress
.customize-support {
    #wpadminbar {
        @media #{$xs} {
            display: none;
        }
    }
}

// visibility classes
.visible-xs {

    @media #{$xs} {
        display: block;
    }

    display: none;
}

.hidden-xs {

    @media #{$xs} {
        display: none;
    }
}
