/* ==========================================================================
   Colors
   ========================================================================== */

/* General
   ========================================================================== */

    $color-primary: #37bb9a;
    $color-border: #ebecf1;
    $color-placeholder: #a9b1bc;


/* Background
   ========================================================================== */

    $color-bg: #f4f6f9;
    $color-bg-alt: #434a54;
    $color-bg-modal: #ffffff;


/* Text
   ========================================================================== */

    $color-txt: #222222;
    $color-txt-dark: #1b2125;

    $color-link: #3b6aa7;
    $color-link-alt: #b2cce7;
    $color-error: #D6183B;

    
/* Other
    ========================================================================== */

    $color-line: #5a6885;
