/* ==========================================================================
   Grid
   ========================================================================== */

/* Gutter
   ========================================================================== */

    $grid-gutter: 10px;
    $grid-gutter-container: 10px;


/* Container
   ========================================================================== */

    $grid-container: calc(100% - 10px);
    $grid-container-sm: 566px;
    $grid-container-md: 758px;
    $grid-container-lg: 982px;
    $grid-container-xl: 1260px;


/* Breakpoints
   ========================================================================== */

    $min-sm: 576px;
    $min-md: 768px;
    $min-lg: 992px;
    $min-xl: 1270px;

    $max-xs: 575px;
    $max-sm: 767px;
    $max-md: 991px;
    $max-lg: 1200px;
